.topNav {
    border-bottom: 1px solid rgb(219, 219, 219);
    height: 45px;
    padding: 0 16px;

    align-items: center;
}

.downChevronIcon {
    transform: rotate(180deg);
    padding: 8px;
}

.backIcon {
    transform: rotate(270deg);
}

.namePlaceholder {
    flex: 1;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    color: rgb(0, 0, 0);
}


/*************************
**************************
*************************/

.fullPage {
    height: 100%;
    width: 100%;

    background-color: aqua;

    z-index: 10;

    position: fixed;
}

.hidden {
    display: hidden;
}

.visible {
    display: block;
}