.bottom_container {
    margin-bottom: 52px;
    color: rgb(142, 142, 142);
    font-size: 12px;
    text-align: center;

    align-items: center;
    justify-content: center;
}

// .bottom_section_1 {

// }

.login_hyperlink {
    color: rgb(142, 142, 142);
    
    margin: 0 8px 12px;
}

.bottom_section_2 {
    margin: 12px 0;
}