.form {
    margin-top: 32px;
}

.formInput {
    flex-grow: 1;

    line-height: 30px;
    font-size: 14px;

    outline: none;
    border: none;
}

.formInput::placeholder{
    color: rgb(199, 199, 199);
}

.forMargin {
    margin: 16px 0;
}