.container {
    margin: 24px 40px 0;
    justify-content: center;
}

.imagePlaceholder {
    justify-content: center;
    align-items: center;

    margin-bottom: 16px;
}

.image {
    background-size: 553px 528px;
    background-position: 0 0;
    background: url('https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png');
    background-repeat: no-repeat;

    height: 96px;
    width: 144px;
}

.boldText {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 16px;
}

.info {
    font-size: 14px;
    line-height: 18px;
    color: rgb(115, 115, 115);
    text-align: center;

    margin-bottom: 16px;
}

.linkText {
    color: rgb(0, 149, 246);
}

.infoSmall {
    font-size: 12px;
    line-height: 16px;

    margin-bottom: 0;
}

.dateSelectorSection {
    margin-bottom: 16px;

    align-items: center;
    justify-content: center;
}

.infoContainer {
    align-items: center;
    justify-content: center;
}

.selectTag {
    padding: 0 24px 0 8px;
    height: 36px;

    outline: none;
    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
    color: rgb(115, 115, 115);
    appearance: none;

    margin: 0 8px 8px 0;
}

.selectTag:nth-child(3) {
    margin: 0 0 8px 0;
}

.downChevron {
    background-size: 440px 411px;
    background-position: -428px -77px;
    background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yV/r/6JqvJ6H_bFT.png');
    background-repeat: no-repeat;
    background-position: -358px -286px;

    position: relative;
    right: 7px;
    top: 12px;

    height: 12px;
    width: 12px;
}

.forMargin {
    width: 100%;

    margin: 16px 0;
}