.fullContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image {
    background-color: aquamarine;
    height: 56px;
    width: 56px;

    border-radius: 50%;
}

.username {
    
}