.fullContainer {
    height: 100px;

    align-items: center;

    padding: 0 4px;
}

.image {
    background-color: aquamarine;
    height: 56px;
    width: 56px;

    border-radius: 50%;
}

.username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    max-width: 74px;
}