.fullContainer {
    align-items: center;

    padding: 0 4px;
    width: 64px;
}

.image {
    background-color: aquamarine;
    height: 56px;
    width: 56px;

    border-radius: 50%;

    margin: 4px auto 8px;
}

.username {
    font-size: 12px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    max-width: 64px;
}