.topContainer {
    padding-top: 110px;
    padding-bottom: 70px;

    min-height: 85vh;

    align-items: center;

    flex: 1;
}

.textContainer {
    margin: 20px 0 16px;
}

.text {
    padding: 0 28px;

    text-align: center;

    font-size: 24px;
    line-height: 27px;

    white-space: pre-line;
}

.orangeColor {
    color: rgb(255, 48, 64);
}

.pinkColor {
    color: rgb(255, 1, 105);
}

.buttonPlaceholder {
    width: 100%;
    
    padding: 16px 40px 0;

    align-items: center;
    justify-content: center;
}

.linksPlaceholder {
    margin-top: 20px;   

    font-size: 14px;
}

.link {
    color: rgb(0, 149, 246);
    font-weight: 600;
}

.textWithin {
    margin: 0 4px;

    color: rgb(142, 142, 142);
}