.box {
    border: 1px solid rgb(219, 219, 219);
    
    margin: 0 0 10px;
    padding: 10px 0;
}

.instaLogoPlaceholder {
    align-items: center;
    justify-content: center;
    margin: 36px 0 12px;
}

.instaLogo {
    background-image: url(../../../../images/ajlEU-wEDyo.png);

    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}

.formPlaceholder {
    margin-top: 24px;
}

.inputPlaceholder {
    margin: 0 40px 6px;
}

.input {
    padding: 9px 8px 7px;
}

.loginButton {
    background-color: rgb(0, 149, 246);
    opacity: 0.7;

    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    width: auto;
    pointer-events: auto;

    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
}