.logoContainer {
    margin-top: 36px;
    margin-bottom: 12px;
}

.logo {
    background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yc/r/Ho0O6w_61Rh.png');
    background-position: 0px 0px;
    background-size: 176px 181px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
}