.image_container {
    height: 581.15px;
    width: 380px;

    background-image: url('../../../images/home-phones-2x.png');
    background-size: 468.32px 634.15px;
    background-position: -46px 0;

    margin-bottom: 12px;
    margin-right: 32px;
}