.container {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 70px; 

    align-items: center;

    min-height: 440px;
    width: 60%;
}

.buttonContainer {
    margin-top: 24px;
}

.forgotPlaceholder {
    align-self: right;

    padding: 12px 0;
    margin: 0 10px 8px;

    font-size: 14px;
    color: rgb(0, 149, 246);
}

.signUp {
    color: rgb(115, 115, 115);
    font-size: 14px;

    margin-top: 16px;

    line-height: 18px;
}

.link {
    color: rgb(0, 149, 246);
    font-weight: 600;
}
